@page "/"
@using Microsoft.Extensions.Caching.Memory
@attribute [NavItem("物品价格查询", Icon = "mdi-list-box")]
@inherits CarryList

<MCardTitle>
    <MTextField @bind-Value="Search"
                AppendIcon="mdi-magnify"
                Label="Search"
                SingleLine
                HideDetails="true"></MTextField>
</MCardTitle>
@code {
    void Add(string s)
    {
        if (string.IsNullOrEmpty(Search))
        {
            Search = s;
        }
        else
        {
            if (!(resert ?? []).Any(i => i.Item1 == s))
            {
                Search += "/" + s;
            }
        }
    }
}
@foreach (var item in Strings.Index())
{
    @if (CanWrite)
    {
        <MTextField @bind-Value="Strings[item.Index]" Readonly="!CanWrite" Dense>
            <PrependContent>
                <MButton IconName="mdi-minus" OnClick="() => Strings.RemoveAt(item.Index)" />
            </PrependContent>
        </MTextField>
    }
    else
    {
        <MChip OnClick="@(() => Add(item.Item))" Close="CanWrite" OnCloseClick="@(() => Strings.RemoveAt(item.Index))">@item.Item</MChip>
    }
}
@if (CanWrite)
{
    <MTextField @bind-Value="p" Dense @onblur="@(AddNewStrings)" />
}
@code {
    string p = "";
    void AddNewStrings()
    {
        if (!string.IsNullOrEmpty(p))
        {
            Strings.Add(p);
            p = "";
        }
    }
}
@if (string.IsNullOrWhiteSpace(Search))
{
    <br />
    <br />
    <text>在上方的输入框进行搜索</text>
    <br/>
    <text>第一次启动程序时请等待缓存加载完成。在右上角查看状态</text>
    <br />
    <br />
    <text>区分大小写。小写可以搜到是因为物品的短id (wm搜索的时候，上方网址id) 是小写的。<br />但是"NeZha Prime 蓝图"这种如果要指定确定物品则需要对着名字写大写。</text>
    <br />
    <br />
    <text>用"/"或"\"符号分隔搜索关键词。例如"盲怒/瞬时"</text>
    <br />
    <br />
    <text>单词以节进行拆分（分隔符包括空格和赋能名字上的"·"）</text>
    <br/>
    <text>输入"充沛"，会搜索从第一节以充沛开头的单词，例如"充沛射击"</text>
    <br/>
    <text>分隔符表示跳过这一节的剩余内容。例如"w 一套"可以匹配"wukong prime 一套"和"wisp prime 一套"</text>
    <br/>
    <text>并且分隔符可以表示数量大于一的任节。例如" 一套"，只需要一个空格，就可以匹配"wisp prime 一套"</text>
    <br/>
    <text>例如" 充沛"可以匹配"赋能·充沛"</text>
}
@foreach (var item in resert ?? [])
{
    <MDivider />
    <ExpandTransition>
        <MButton OnClick="() => ChangeNoShow(item.Item1)">@item.Item1</MButton>
        <ShowTransitionElement Value="@(!NoShow.Contains(item.Item1))">
            <MDataTable Headers="_headers"
                        Items="item.Item2"
                        Dense
                        ResizeMode="DataTableResizeMode.Independent"
                        MultiSort
                        ShowExpand
                        ItemKey="r => r.Item.Id"
                        HideDefaultFooter
                        @key="item.Item1"
                        Class="elevation-1"
                        ItemsPerPage="-1">
                <ItemColContent>
                    @switch (context.Value)
                    {
                        case string s:
                            <PCopyableText Text="@s" />
                            @s
                            break;
                        case null:
                            @("loading")
                            break;
                        case double d:
                            @($"{d,-6:f1}")
                            break;
                        default:
                            @context.Value
                            break;
                    }
                </ItemColContent>
                <ExpandedItemContent>
                    <td colspan="@_headers.Count" @key="@context.Item.Item.Id">
                        <OrderTop Item="context.Item.Item" />
                    </td>
                </ExpandedItemContent>
            </MDataTable>
        </ShowTransitionElement>
    </ExpandTransition>
}

